
NEXT_PUBLIC_NAME="ShowCar"

# URL do webhook do n8n para onde enviamos as mensagens do usuário
N8N_WEBHOOK_URL=

# Em desenvolvimento: http://localhost:3000
# Em produção: https://seu-dominio.com
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Em desenvolvimento: http://localhost:3000/api/webhook/n8n
# Em produção: https://seu-dominio.com/api/webhook/n8n
NEXT_PUBLIC_WEBHOOK_URL=http://localhost:3000/api/webhook/n8n

